.newspanel {
  grid-area:c;
  background-color: var(--main-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100vw;
}

.newspanel h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 1.3em;
  color: var(--font-color);
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-transform: uppercase;
}
